[2015-05-27 06:12] lbesnard opened #1 "imos netcdf filename checker"
@fxmzb123 I found some issues with the new imos-file-name test

see the following two files :
- http://thredds.aodn.org.au/thredds/fileServer/IMOS/SRS/SRS-OC/SRS-OC-SOOP_Rad/VMQ9273_Solander/2014/IMOS_SRS-OC_F_20140312T030831Z_VMQ9273_FV01_DALEC_20140312T032541Z_C-20140629T231726Z.nc
- http://thredds.aodn.org.au/thredds/fileServer/IMOS/SRS/SRS-OC-BODBAW/2010_cruise-SS201009/absorption/IMOS_SRS-OC-

[2015-05-28 05:55] fxmzb123 commented on #1
Hi lbesnard,

This issue is caused by the files contain the non-ASCII characters in attributes. I have resolved this by
set default encoding to UTF-8. The happens for all checkers and it needs to be fixed in IOOS checker as well. I will create a separated branch and send a pull-request.

Thanks,
Ming

[2015-05-28 06:04] danfruehauf commented on #1
How about using the system's locale for that? It'd be much more accurate than hardcoding it to UTF-8.

[2015-05-28 07:07] lbesnard commented on #1
from what I understand, the issue is file based, and not env based

[2015-05-28 07:18] danfruehauf commented on #1
And do the files declare their encoding?

[2015-05-29 05:48] fxmzb123 commented on #1
The default encoding for Python is ASCII, Python can get system default encoding by sys.getfilesystemencoding(), which can be further set as default in Python through:
    reload(sys)
    sys.setdefaultencoding(sys.getfilesystemencoding())

[2015-05-29 05:54] danfruehauf commented on #1
We're not quite interested in the filesystem settings, but more in either what NetCDF is publishing (if it does at all), or alternatively, use the system's locale for that.

[2015-05-29 06:14] fxmzb123 commented on #1
The default encoding for netcdf-python library is ''utf-8' and this should be used, I believe.

[2015-05-29 06:16] danfruehauf commented on #1
That's fine too. It's unlikely we'll use anything other than `UTF-8` in the foreseeable future. However as best practice I think it's good if it can be overriden by environment - should it ever be required.

[2015-06-04 04:56] mhidas commented on #1
It seems this is not actually an issue with the filename checker, and the encoding problem has been reported to IOOS (https://github.com/ioos/compliance-checker/issues/108), so I think we can close this.

[2015-06-04 04:56] #1 closed, assigned to nobody

[2015-06-12 06:12] mhidas opened #2 "IMOS check_data_variables shouldn't look at coordinate vars"
Running the IMOS checker on the file  [imos_good_data.nc](https://github.com/aodn/compliance-checker/blob/IMOS-Checker/compliance_checker/tests/data/imos_good_data.nc) used for the unittests gives the fail result:

[code]

And similarly for variables `LONGITUDE` and `NOMINAL_DEPTH`.

This should not happen because these are all coordinate variables, not data variables (e.g. `TEMP:coordinates = "TI

[2015-06-12 06:59] mhidas opened #3 "Missing IMOS check for Conventions global attribute"
According to the xls spreadsheet this has been implemented, but looking at the latest commit (f70671855973429f0baa658e98674ceba57b93bd) this doesn't seem to be the case. This is a high priority check.

[2015-06-17 01:42] fxmzb123 commented on #2
This has been fixed in new branch IMOS-Checker-Issue-2

[2015-06-17 03:08] fxmzb123 commented on #3
This has been added in branch IMOS-Checker-Issue-3

[2015-06-24 01:26] mhidas commented on #2
@fxmzb123 Thanks, but that's not quite fixed yet. My description of the issue above was not quite right. When finding data variables, we want to exclude not only coordinate and ancillary variables, but also _auxiliary coordinate variables_ ([definition](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#terminology)). These variables are **not** coordinate va

[2015-06-24 02:16] mhidas commented on #2
@fxmzb123 I've added a unittest on your branch to show what I mean.

[2015-06-24 02:25] mhidas commented on #3
@fxmzb123 Thanks. Let's merge it in to the main IMOS-Checker branch.

[2015-06-24 06:00] fxmzb123 commented on #3
I have rebased this branch to imos checker branch.

[2015-06-24 07:09] fxmzb123 commented on #2
this has been fixed and branch has been rebased.

[2015-06-25 00:50] mhidas commented on #2
Looks good! Thanks Ming.

[2015-06-25 00:54] #2 closed, assigned to nobody

[2015-06-26 03:06] fxmzb123 commented on #3
I have resolved the binary file conflict, please merge this with IMOS-Checker branch.

[2015-06-30 05:23] lbesnard opened #6 "IMOS: check_acknowledgment - string mismatch"
acknowledgement attribute is different in ANMN file from the netcdf-checker

example
ncdump output

[code]

(missing SSI)

check_acknowledgement(self, ds) function definition

[code]

see /mnt/ebs/wip/ANMN/timeSeries/new_tb/IMOS_ANMN-WA_TZ_20140925T080000Z_WATR50_FV01_WATR50-1409-TR-1060-496_END-20150522T023000Z_C-20150522T092647Z.nc

[2015-06-30 05:38] atkinsn commented on #6
Note @lbesnard, we have actually updated this acknowledgement statement within all metadata records and websites etc. So if this is something to be added to the checker, it should read as follows:
Any users of IMOS data are required to clearly acknowledge the source of the material derived from IMOS in the format: "Data was sourced from the Integrated Marine Observing System (IMOS) - IMOS is a nat

[2015-06-30 05:50] lbesnard opened #7 "CF: check_units dimensionless Turbidity"
Turbidity unit in ANMN file is "NTU" ( specific to an instrument). The CF convention is looking for a unit equal to "1" instead.

[code]

/mnt/ebs/wip/ANMN/timeSeries/new_tb/IMOS_ANMN-NRS_CKOSTUZ_20120825T054709Z_NRSDAR_FV01_NRSDAR-1208-Surface-WQM-1_END-20121209T014808Z_C-20150324T034821Z.nc

[2015-06-30 06:01] lbesnard opened #8 "CF: check_two_dimensional - DEPTH:coordinates references itself"
ncdump output ;

[code]

netcdf-checker CF test ouput :

[code]

For example:
 /mnt/ebs/wip/ANMN/timeSeries/new_tb/IMOS_ANMN-NRS_CKOSTUZ_20120825T054709Z_NRSDAR_FV01_NRSDAR-1208-Surface-WQM-1_END-20121209T014808Z_C-20150324T034821Z.nc

The DEPTH coordinate attribute references to the DEPTH variable, making the cf check fail. Could be an issue to solve in the IMOS TOOLBOX @ggalibert  ?

[2015-06-30 06:13] lbesnard opened #9 "CF: check_vertical_coordinate - DEPTH - positive attribute required"
Missing positive attribute in ANMN file

[code]

See http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#vertical-coordinate for ref

Example with file:
/mnt/ebs/wip/ANMN/timeSeries/new_tb/IMOS_ANMN-NRS_CKOSTUZ_20120825T054709Z_NRSDAR_FV01_NRSDAR-1208-Surface-WQM-1_END-20121209T014808Z_C-20150324T034821Z.nc

Something to do with the IMOS TOOLBOX @ggalibert  ?

[2015-06-30 06:15] ggalibert commented on #8
Agreed. Now which action to take?

1- In my working copy of the toolbox DEPTH doesn't have any variable attribute `coordinates` anymore. Would that be OK?

2- should we have : `DEPTH:coordinates = "TIME LATITUDE LONGITUDE NOMINAL_DEPTH" ;` ?

[2015-06-30 06:21] ggalibert commented on #9
Agreed, easy to fix for any toolbox version by adding :

`S, positive                  = down`

in imos-toolbox/NetCDF/template/depth_attributes.txt

Will be the case by default in next version.

[2015-06-30 06:29] lbesnard opened #10 "IMOS: check_quality_control_variable_standard_name EXCEPTION"
[code]

**Update 1/07/15 1120**
same with following files

[code]

[2015-06-30 06:35] lbesnard opened #11 "IMOS: check_local_time_zone - timezone can be fractional"
netcdf checker output:

[code]

ncdump output:

[code]

However 9.5 is a valid timezone (need to fix check_local_time_zone function)

Example with file:
/mnt/ebs/wip/ANMN/timeSeries/new_tb/IMOS_ANMN-NRS_CKOSTUZ_20120825T054709Z_NRSDAR_FV01_NRSDAR-1208-Surface-WQM-1_END-20121209T014808Z_C-20150324T034821Z.nc

[2015-06-30 23:55] mhidas commented on #6
I think there are two issues here.

**1)** The required acknowledgement string has changed over time. We can put this new required acknowledgement string into the next version of the IMOS NetCDF Manual, and require this in the checker for all new files.
However, all the older files will have older versions of the required string. So if we want to be consistent, we either update all existing files

[2015-07-01 00:40] mhidas commented on #7
[THREDDS link](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-NRS_CKOSTUZ_20120825T054709Z_NRSDAR_FV01_NRSDAR-1208-Surface-WQM-1_END-20121209T014808Z_C-20150324T034821Z.nc) to the exsample file.

According to the [CF standard name table v28](http://cfconventions.org/Data/cf-standard-names/28/bu

[2015-07-01 00:43] mhidas commented on #6
@smancini Any thoughts on this issue?

@ggalibert This will also need to be changed in the Toolbox. See Nat's comment.

[2015-07-01 00:50] ggalibert commented on #7
Fixed : https://github.com/aodn/imos-toolbox/commit/6b41b75df685f35af1b6d16e534e80b784943a2b

[2015-07-01 00:52] ggalibert commented on #9
Fixed : https://github.com/aodn/imos-toolbox/commit/3d062f11a5e7813d585a7eeaaa4c80b463bbc18b

[2015-07-01 00:52] #9 closed, assigned to nobody

[2015-07-01 00:58] mhidas commented on #8
I think the first option is fine. DEPTH is not really a data variable in this case, so doesn't need that attribute.

[2015-07-01 01:02] ggalibert commented on #6
fixed in the toolbox : https://github.com/aodn/imos-toolbox/commit/34194b046fa01135c7660acfa891203d984dd4e1

[2015-07-01 01:04] #8 closed, assigned to nobody

[2015-07-01 01:11] mhidas commented on #10
@fxmzb123 Could you take a look at this? I think we're not handling the case where the qc variable and the data variable don't have a standard_name attribute.

[Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-NRS_CKOSTUZ_20120825T054709Z_NRSDAR_FV01_NRSDAR-1208-Surface-WQM-1_END-20121209T0

[2015-07-01 01:18] mhidas commented on #11
@fxmzb123 Another one for you, if you get to it.

[2015-07-01 02:30] lbesnard opened #12 "CF : check_missing_data"
Running Compliance Checker on the dataset from: /mnt/ebs/wip/ANMN/timeSeries/new_tb/IMOS_ANMN-WA_TZ_20140925T080000Z_WATR50_FV01_WATR50-1409-TR-1060-496_END-20150522T023000Z_C-20150522T092647Z.nc (actually affects most of ITFTIS_FV01 files)

Checker output:

[code]

which means

`It is not permitted for auxiliary coordinate variables to have missing values for elements where there is non-missing d

[2015-07-01 06:43] mhidas commented on #12
@lbesnard Firstly, you're right, the DEPTH variable here shouldn't have a coordinates attribute, so when that's fixed this check will skip it.

[Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-QLD_TZ_20130620T000000Z_ITFTIS_FV01_ITFTIS-1306-SBE56-123_END-20140113T050459Z_C-20150515T020400Z

[2015-07-01 06:59] lbesnard commented on #12
thanks @mhidas , makes more sense now. Many files failed this test. Do you want me to list them all, or it's not really the problem atm

I think 1) is the way to go. However, Shoudn't DEPTH being automatically computed by the toolbox ? I know there's not a PRES variable in this file, but isn't it a pressure sensor on the mooring line. Could the fail actually highlight a real problem with the file

[2015-07-01 07:33] ggalibert commented on #12
Sometimes, an instrument file without pressure information has a temporal extent greater than the two nearest instrument files with pressure information. In this case, NaNs are introduced in the result of the interpolated DEPTH to possibly pad both ends of the dataset without pressure information.

I'm ok for solution 1).

If DEPTH is not listed as an auxiliary coordinate anymore in the coordinate

[2015-07-02 00:12] lbesnard commented on #7
being CF compliant is a good thing, however following the convention can lead to information loss. In this case, I have the feeling keeping NTU somewhere in the file can be valuable to someone.

I've stumbled on another case which is with the `direction_of_sea_water_velocity` standard_name. The unit described in an ADCP file is `Degrees clockwise from true North` but CF only wants `degrees`. Howev

[2015-07-02 00:15] ggalibert commented on #7
@lbesnard , I don't think the NTU issue you're raising is comparable to the true north one. Look at the definition of sea_water_turbidity CF standard_name, they mention NTU.

[2015-07-02 00:29] lbesnard commented on #7
@ggalibert  fair enough, I'll close this one back and put it  into a new issue

[2015-07-02 00:36] lbesnard opened #13 "CF: unit definition for CDIR variable"
The CDIR (direction_of_sea_water_velocity) unit attribut is defined as `Degrees clockwise from true North` in an IMOS ADCP file. However, the CF unit for this standard name should be `degree` (also to mention they both use degree and degrees for different direction variables which doesn't seem really consistent)

being CF compliant would lead to information loss in this case. For something such as

[2015-07-02 00:37] #7 closed, assigned to nobody

[2015-07-02 00:53] lbesnard opened #14 "CF: check_units want unit att for distribution variable (dimensionless)"
CF chap 3.1
`Units are not required for dimensionless quantities. A variable with no units attribute is assumed to be dimensionless. However, a units attribute specifying a dimensionless unit may optionally be included.`

The different CMAG variables (particle_distribution_correlation_magnitude_from_acoustic_beam) don't have a standard name (which is fine) and don't have a unit attribute since the

[2015-07-02 01:02] ggalibert commented on #14
I'm happy to modify the toolbox so that it uses a dimensionless unit when relevant. This way we can make sure we always have a variable attribute units?

[2015-07-02 01:29] lbesnard opened #15 "CF: decibel unit no yet implemented in UDUNITS"
The ADCP variable backscatter_intensity_from_acoustic_beam has a unit attribut `decibel`.

The netcdf-checker ouput is

[code]

1) why ABSI1 is set as `known` although there is no standard name, and the variable doesn't exist in the CF convention ?

2) the CF FAQ says decibel will be in future version http://cfconventions.org/faq.html

[code]

What do to in the meantime ?

[2015-07-02 01:45] lbesnard opened #16 "CF: check_dimension_order ADCP variables"
All ADCP variables have a wrong order of dimensions in the coordinate attribute.

netcdf-checker ouput

[code]

ncdump output

[code]

should be instead :

[code]

[2015-07-02 01:47] lbesnard commented on #14
I have the feeling this has already been fixed actually, so maybe no need to modify the toolbox. @mhidas ?

[2015-07-02 02:05] lbesnard opened #17 "IMOS: check_coordinate_variables - float variable is not seen as numeric"
The IMOS checker complains that the HEIGHT_ABOVE_SENSOR variable which is a float is not numeric. However the definition is

[code]

netcdf-checker output

[code]

ncdump

[code]

Example with file:
/mnt/ebs/wip/ANMN/timeSeriesProfile_po_permission/new_tb/IMOS_ANMN-QLD_AETVZ_20130620T075900Z_ITFTIS_FV01_ITFTIS-1306-Workhorse-ADCP-464.5_END-20140111T055900Z_C-20150515T020357Z.nc

(which has also an

[2015-07-02 03:25] lbesnard opened #18 "IMOS: check_data_variables - XY coordinates defined but missing in var definition"
file: **/mnt/ebs/wip/ANMN/timeSeriesProfile_po_permission/new_tb/IMOS_ANMN-QLD_AETVZ_20130620T075900Z_ITFTIS_FV01_ITFTIS-1306-Workhorse-ADCP-464.5_END-20140111T055900Z_C-20150515T020357Z.nc**

**netcdf-checker**:

[code]

**ncdump**:

[code]

The IMOS checker seems to complain about missing XYZT coordinations from the variable's dimension definition.

Looking at the code:

[code]

This function de

[2015-07-02 03:43] mhidas commented on #12
@lbesnard Yes, in some cases it might highlight a real problem with the file, but I think that's beyond the scope of what we need this checker to do.

@ggalibert Yes, if DEPTH is not itself an auxiliary coordinate var, then it could have a coordinates attribute.

[2015-07-02 04:00] ggalibert commented on #14
Yeah, it is a CF checker bug. Interesting post here : http://mailman.cgd.ucar.edu/pipermail/cf-metadata/2011/054296.html which quotes CF :

In the case of CMAG (a correlation coefficient between -1 and 1), it is best not to document any units attribute.

[2015-07-02 04:40] ggalibert commented on #12
Modified toolbox accordingly : https://github.com/aodn/imos-toolbox/commit/84b6bf84762587a6afa00ec45b5c9204142fd5d7

[2015-07-02 04:40] #12 closed, assigned to nobody

[2015-07-02 05:24] mhidas commented on #13
@lbesnard Yes, according to CF, the units attribute for direction variables needs to be "degree" or equivalent (e.g. "Degrees" is acceptable). The direction and reference point need to be given in other attributes.

This may seem a bit inconvenient, but I guess we do the same thing for depth (e.g. attributes units="m", positive="down", reference = "sea_level"). I haven't seen this done for a direc

[2015-07-02 05:30] lbesnard commented on #13
so in that case, reference ="true north"

[2015-07-02 05:55] ggalibert commented on #13
some measured parameters are vectors/angles with specific directional components :

1- is the direction of the vector to or from?

2- is the angle measured positive clockwise or anti-clockwise?

3- what is the angle referenced to?

The CF FAQ http://cfconventions.org/faq.html#specifying_directions says that this information should be present in the standard names rather than in variable attributes

[2015-07-02 05:56] lbesnard opened #20 "IMOS: check_coordinate_variables - no fail message"
netcdf-checker output:

[code]

There is no description more than what is above, which variable is affected, what the problem is.

file:
/mnt/ebs/wip/ANMN/timeSeriesProfile_po_permission/new_tb/IMOS_ANMN-QLD_AETVZ_20130620T075902Z_ITFTIS_FV00_ITFTIS-1306-Workhorse-ADCP-464.5_END-20140111T055902Z_C-20150515T020357Z.nc

[2015-07-02 06:41] mhidas commented on #15
@lbesnard
1) The left column just lists the hierarchy of checks being applied. So "units > ABSI1 > known" means we're checking units, currently looking at the ABSI1 variable, and asking whether the given unit is "known", i.e. defined in the UDUNITS package. Unfortunately it is not.
This is independent of standard names. All variables representing dimensional quantities should have valid units.

2)

[2015-07-02 07:06] mhidas commented on #15
Reported to IOOS: https://github.com/ioos/compliance-checker/issues/137

[2015-07-02 07:09] ggalibert commented on #13
I have contacted the CF metadata mail list http://mailman.cgd.ucar.edu/mailman/listinfo/cf-metadata on this topic.

[2015-07-02 07:15] mhidas commented on #16
@lbesnard Actually, HEIGHT_ABOVE_SENSOR is a space-time dimension, as it eventually translates to depth, it's just that the checker doesn't recognise it. So it should really be "TIME HEIGHT_ABOVE_SENSOR LATITUDE LONGITUDE" (http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#dimensions), but it's a low priority check, so we can probably ignore it for now.

[2015-07-02 07:18] ggalibert commented on #15
Don't know any other facility using decibel unit.

[2015-07-03 00:04] fxmzb123 commented on #3
@mhidas I have created new branch for this Issue3-check-conventions

[2015-07-03 01:08] fxmzb123 commented on #6
@lbesnard and @mhidas , I have created a branch and pull request for fixing this.

[2015-07-03 01:30] fxmzb123 commented on #10
@lbesnard and @mhidas I have created a pull request to fix this.

[2015-07-03 01:32] lbesnard commented on #10
cheers. I'll test it

[2015-07-03 04:00] fxmzb123 commented on #17
@lbesnard and @mhidas Can you make the example nc file available through thread server?

[2015-07-03 04:32] fxmzb123 commented on #17
@lbesnard and @mhidas i have fixed this and created a pull request. Please test it.

[2015-07-03 05:05] fxmzb123 commented on #20
@lbesnard and @mhidas I have created a new branch and pull request for fixing this.

[2015-07-03 05:43] mhidas opened #29 "IMOS: KeyError in find_variables_from_attribute"
Running the IMOS checker on [this](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ACORN/catalog.html?dataset=IMOS/eMII/checker_test/ACORN/IMOS_ACORN_V_20140406T003000Z_ROT_FV01_1-hour-avg.nc) file results in:

[code]

[2015-07-03 05:44] mhidas commented on #29
@fxmzb123 Please have a look at this if you have time.

[2015-07-03 06:23] mhidas opened #30 "IMOS check_conventions: 'IMOSCheck' object has no attribute '_check_value'"
After merging #23 into IMOS-Checker, I now get this warning for most files checked:

[code]

And the check for the Conventions attribute doesn't seem to to happen. I guess the merge didn't work perfectly.

[2015-07-03 06:32] mhidas commented on #3
This was fixed, but the tidy-up has broken it again. See #30

[2015-07-03 06:46] fxmzb123 commented on #30
@mhidas the check conventions has been added, and the cause for this is because this fix is happened before the tide up branch and the help method _check_value has been moved to Util module. so I think I need to rebase other branches before we merge. This has been fixed in a new branch and I created a new pull request.

[2015-07-06 02:11] mhidas commented on #30
Fixed via #31

[2015-07-06 02:11] #30 closed, assigned to fxmzb123

[2015-07-06 02:44] mhidas commented on #11
Fixed via #26

[2015-07-06 02:44] #11 closed, assigned to nobody

[2015-07-06 04:43] mhidas commented on #17
@fxmzb123 Looks good, thanks.

Fixed in #27

[2015-07-06 04:43] #17 closed, assigned to nobody

[2015-07-06 05:44] mhidas opened #32 "CF: all discrete sampling geometry files should have a feature ID variable"
The CF checker assumes that any file with a **featureType** global attribute is a discrete sampling geometry (DSG) file. For such files, [CF](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#coordinates-metadata) says:

The CF checker fails for any file that has a **featureType** global attribute but no variable with a **cf_role** attribute (with the very c

[2015-07-07 07:05] mhidas commented on #18
@lbesnard I think the reason for the confusion is that @fxmzb123 implemented several checks in one method, because they all apply to data variables (i.e. any var that is not a coordinate or ancillary var - see checks definitions [here](https://github.com/mhidas/imos-netcdf-conventions/blob/master/IMOS_netCDF_checker_tests_for_manual_v1.3.xls)). This is ok.

The check that's failing is that each da

[2015-07-07 07:32] mhidas commented on #20
@fxmzb123 I think the code logic is also a bit wrong here. What we're checking is that _at least one_ coordinate variable in the file is a spatial or time coordinate. [This file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeriesProfile/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeriesProfile/IMOS_ANMN-NRS_AETVZ_20140919T050000Z_NRSROT-ADCP_FV01_NRSROT-ADCP

[2015-07-07 07:36] mhidas commented on #20
... and the same goes for `reasoning = None` on the next line. That is why we're not getting a reasoning message in the output.

[2015-07-08 05:01] lbesnard opened #33 "IMOS : check_data_variables - history variable requires one of XYZT variable"
imos checker output:

[code]

ncdump

[code]

file http://thredds.aodn.org.au/thredds/catalog/IMOS/SOOP/SOOP-ASF/VNAA_Aurora-Australis/flux_product/2013/catalog.html?dataset=IMOS/SOOP/SOOP-ASF/VNAA_Aurora-Australis/flux_product/2013/IMOS_SOOP-ASF_FMT_20130315T000200Z_VNAA_FV02.nc

The history variable is required to have a XYZT dimension. I don't think this should be the case. Maybe a black list o

[2015-07-08 05:04] mhidas opened #34 "CF: DEPTH, coordinates and axes"
The DEPTH variable computed from pressure is a bit of a tricky case. First we decided it's not a normal data variable and took away its `coordinates` attribute (see #8). Then because of another issue (#12) we decided to not make it an auxiliary coordinate variable either, and then it could have a `coordinates` attribute after all.

I think this latter decision is fine, but will result in this:

[c

[2015-07-08 05:05] mhidas commented on #34
@ggalibert Not sure if this is already what the toolbox does. Please check.

[2015-07-08 05:24] lbesnard opened #35 "IMOS: check_time_variable - TIME unit tested the simple way"
file tested:
http://thredds.aodn.org.au/thredds/catalog/IMOS/SOOP/SOOP-ASF/VNAA_Aurora-Australis/flux_product/2013/catalog.html?dataset=IMOS/SOOP/SOOP-ASF/VNAA_Aurora-Australis/flux_product/2013/IMOS_SOOP-ASF_FMT_20130315T000200Z_VNAA_FV02.nc

IMOS test code :
https://github.com/aodn/compliance-checker/blob/IMOS-Checker/compliance_checker/imos/imos.py#L706-L712

[code]

The IMOS checker looks for

[2015-07-08 06:06] lbesnard opened #36 "IMOS - check_quality_control_variable_dimensions for BOM files"
BOM soop netcdf files have a different QC flag type than IMOS.

For example

[code]

As it can be seen in the quality_control_conventions attribute, it's definitely an IMOS one, just different. and it is handled in this function of the imos checker **check_quality_control_conventions_for_quality_control_variable**

However, the type of this QC variable is different from the type other IMOS QC vari

[2015-07-08 07:14] lbesnard opened #37 "IMOS: check_longitude_variable - check_latitude_variable - variable not float or double"
netcdf checker complains:

[code]

However, ncdump :

[code]

There's obviously a bug somewhere

file
SOOP/SOOP-SST/9V2768_Wakmatha/2015/IMOS_SOOP-SST_T_20150528T000000Z_9V2768_FV01_C-20150624T041657Z.nc

[2015-07-08 23:50] mhidas commented on #36
@lbesnard I don't really see this as a bug in the checker. The dimensions of a QC variable should be the same as the corresponding data variable, otherwise you can't tell which flag relates to which data value.

The added string length dimension in these files is unnecessary, since all the flags are single characters. So `char LONGITUDE_quality_control(TIME)` would work just as well, and pass the

[2015-07-09 00:32] lbesnard commented on #36
I'm not so sure of this. That would be worth testing/ Always assumed that as soon as you put chars in your variable, you gotta specify the length of it

[2015-07-09 01:00] mhidas commented on #14
@lbesnard @ggalibert This is one of the tricky ones. CF says dimensionless quantities don't need units, but how does the checker code decide whether a variable represents a dimensionless quantity?

For variables with a CF standard_name, we can make use of the canonical unit. If it is "1" the checker can assume it is dimensionless and allow a missing `units` attribute. This is not done at the momen

[2015-07-09 01:07] mhidas commented on #13
@ggalibert Thanks for that. Let us know if you get a response.

[2015-07-09 01:09] mhidas commented on #10
#25 awaiting rebase.

[2015-07-09 01:12] mhidas commented on #33
I'd call this a bug. `history` is not a data variable, so this check shouldn't apply. This needs to be fixed in the helper function that identifies data variables.

[2015-07-09 01:36] mhidas commented on #35
@lbesnard The CF checker checks that the unit is a valid time specification in the form "**time_unit since reference_time**", so you're right, we don't need to replicate that.

However, according to version 1.3 of the IMOS netCDF manual:

So we're specifying what the **time_unit** and **reference_time** should be, though this is not mandatory.

Two things need to be fixed in the code:
  1) Separat

[2015-07-09 04:44] mhidas commented on #36
@lbesnard See e.g. [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/profile/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/profile/IMOS_ANMN-NRS_CDEKOSTUZ_20150224T023931Z_NRSROT_FV01_Profile-SBE19plus_C-20150227T052824Z.nc), which has

[code]

Char is a single character.

[2015-07-09 05:07] ggalibert commented on #14
My concern @mhidas is that you are going further than the current CF specifications.  Setting `units = "1"` for quantities that are not fractions or parts of a whole is not CF.

I would think the unit test at this stage is just to check that what is in `units` is udunits compatible.

If you think `units` should always be documented (I do), then we should have a better specification from CF that en

[2015-07-09 05:34] ggalibert commented on #34
`axis = "Z"` will be removed for `DEPTH` in time series.

[2015-07-09 06:38] fxmzb123 commented on #20
Hi @mhidas I have fixed the wrong logic, please see the pull request.

[2015-07-09 06:59] mhidas commented on #29
@ggalibert In this case the exception is caused by the `ancillary_variables` attributes in the (ACORN) file (link above):

[code]

[CF](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#ancillary-data) says it should be a blank-separated list, not comma-separated.

The CF checker will also complain about this.

[2015-07-09 07:02] lbesnard commented on #29
@mhidas this is a bug as well,the checker shouldn't fail

[2015-07-09 07:28] mhidas opened #38 "IMOS check_quality_control_variable_listed: logic not quite right"
[This file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeries/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/timeSeries/IMOS_ANMN-AM_KST_20150601T140001Z_NRSKAI_FV00_NRSKAI-CO2-1506-realtime-raw_END-20150705T080000Z_C-20150709T070818Z.nc) has

[code]

... and yet the imos checker claims:

[code]

In fact, `XCO2_WATER_standard_deviation` is not really a quality con

[2015-07-09 07:39] ggalibert commented on #29
Created a pull request to fix that for newly created files in the future :

https://github.com/aodn/data-services/pull/179

Will need to fix historical files too.

[2015-07-09 08:48] lbesnard opened #39 "IMOS: check_longitude_variable + check_latitude_variable - missing attributes, but error message don't match"
ncdump output

[code]

As can be seen above, there is no sign of valid_max and valid_min attributes. However, the imos checker says for **LONGITUDE**:

[code]

but for **LATITUDE** the checker only says

[code]

A bit weird, there shouldn't be any difference between the two ...

tested file :
http://thredds.aodn.org.au/thredds/catalog/IMOS/SOOP/SOOP-TRV/VMQ9273_Solander/By_Cruise/Cruise_START-2015

[2015-07-09 08:59] lbesnard opened #40 "IMOS: check_attributes - obscure error message"
checker output

[code]

Message doesn't contain anything meaningful to me. the string 'is not present' can't be found in the imos checker cause it comes from an external lib. So it makes difficult to know what's the error message is about.

The file doesn't follow obviously the IMOS convention, but this test doesn't help to know what to fix imo
tested file :
http://thredds.aodn.org.au/thredds/cata

[2015-07-10 00:58] fxmzb123 commented on #29
This has been fixed and created pull request #41

[2015-07-10 03:27] fxmzb123 commented on #33
@mhidas based on the definition of data variable, history is not coordinate and ancillary variable. Do you think this is a special case for data variable?

[2015-07-10 06:00] fxmzb123 commented on #35
@mhidas Can you provide me all valid time_units? It seems currently , only 'days' is valid time_unit

[2015-07-13 00:34] ggalibert commented on #29
Historical ACORN hourly averaged products have been fixed accordingly.

[2015-07-13 05:13] fxmzb123 commented on #35
@mhidas can you advice me the correct date time format for this attribute, Netcdf files have both format 'days since 1950-01-01 00:00:00 UTC' and "days since 1950-01-01 00:00:00Z'. Should I test both case?

[2015-07-14 04:37] fxmzb123 commented on #37
@lbesnard @mhidas  this has been fixed and in pull request #42

[2015-07-14 05:08] fxmzb123 commented on #38
@mhidas  this has been fixed and in pull request #43

[2015-07-14 06:38] fxmzb123 commented on #39
@lbesnard fixed and please see pull request #44

[2015-07-14 06:39] fxmzb123 opened #45 "Attribute not found error in check_quality_control_conventions_for_quality_control_variable"
Test File:
http://thredds.aodn.org.au/thredds/catalog/IMOS/SOOP/SOOP-TRV/VMQ9273_Solander/By_Cruise/Cruise_START-20150105T073551Z_END-20150106T024945Z/salinity/catalog.html?dataset=IMOS/SOOP/SOOP-TRV/VMQ9273_Solander/By_Cruise/Cruise_START-20150105T073551Z_END-20150106T024945Z/salinity/IMOS_SOOP-TRV_S_20150105T073551Z_VMQ9273_FV01_END-20150106T024945Z_C-20150106T190156Z.nc

[2015-07-14 06:42] fxmzb123 commented on #45
fixed and see pull request #46

[2015-07-14 10:26] fxmzb123 commented on #40
@lbesnard fixed and see pull request #47

[2015-07-14 23:04] lbesnard commented on #40
@fxmzb123 thanks it's working fine

[2015-07-14 23:18] #40 closed, assigned to nobody

[2015-07-14 23:21] lbesnard commented on #39
thx, works fine

[2015-07-14 23:22] #39 closed, assigned to nobody

[2015-07-14 23:27] lbesnard commented on #37
thx

[2015-07-14 23:28] #37 closed, assigned to nobody

[2015-07-14 23:30] lbesnard opened #48 "IMOS: LATITUDE and LONGITUDE in both 'var' and 'data_variable' checker output"
file
SOOP/SOOP-SST/9V2768_Wakmatha/2015/IMOS_SOOP-SST_T_20150528T000000Z_9V2768_FV01_C-20150624T041657Z.nc

[code]

Is it normal to have both LATITUDE and LONGITUDE  variables in the **var** and **data_variable** group ?

[2015-07-14 23:44] lbesnard commented on #29
works fine

[2015-07-14 23:44] #29 closed, assigned to ggalibert

[2015-07-15 00:28] lbesnard commented on #35
@ggalibert  Could you please advice Ming with what is the IMOS format. I'm still surprised to have this check in the IMOS test

[2015-07-15 01:19] ggalibert commented on #35
Like Marty said, from eMII perspective the time_unit needs to be 'days' and the reference_time needs to be '1950-01-01 00:00:00 UTC'.

[2015-07-16 01:23] ggalibert commented on #32
Is there any way we can feed that back to the people maintaining the CF checker? It seems to me it's a bug from the CF checker. The CF convention is not explicit about this CF checker behaviour and only says "Where feasible...".

[2015-07-16 01:54] ggalibert opened #49 "CF: cell_methods_name is too verbose with redundancies in case failing"
ex. :

[code]

Try with this file /mnt/imos-t4/IMOS/staging/ACORN/test/IMOS_SRS-OC-LJCO_KOSTUZ_20140606T010000Z_SRC_FV02_WQM-daily_C-20150702T024050Z.nc.

[2015-07-16 04:50] ggalibert commented on #16
@mhidas , your link to CF is unrelated to the definition of the variable attribute `coordinates`. In your link CF says :

"we recommend, but do not require [...], those dimensions to appear in the relative order T , then Z , then Y , then X in the CDL definition corresponding to the file..."

Hence `float VCUR(TIME, HEIGHT_ABOVE_SENSOR) ;`

However in chapter 5 http://cfconventions.org/Data/cf-con

[2015-07-20 00:55] mhidas commented on #34
Thanks @ggalibert

[2015-07-20 00:55] #34 closed, assigned to nobody

[2015-07-20 01:03] mhidas commented on #33
@fxmzb123  Let's add to the definition of a data variable the condition that it needs to have numeric type. This would exclude the `history` variable.

[2015-07-20 05:44] mhidas opened #50 "IMOS check for QC variable name not implemented"
The IMOS conventions v1.3 says that the name of a quality control variable must be `<DATA>_quality_control` where  `<DATA>` is the name of the corresponding data variable. This is currently not being checked.

[2015-07-20 06:44] mhidas commented on #50
In addition, this is what defines the link between a data variable and its QC variable. Several of the other checks on QC variables should rely on this link. Currently these checks allow the required condition to be met by any data variable.

[2015-07-21 07:47] mhidas commented on #10
Fixed via #25

[2015-07-21 07:47] #10 closed, assigned to nobody

[2015-07-21 08:39] mhidas commented on #45
Fixed via #46

[2015-07-21 08:39] #45 closed, assigned to nobody

[2015-07-21 09:10] mhidas commented on #50
Another point... for v1.3, not only _data_ variables can have their own QC variable. _Coordinate_ and _auxiliary coordinate_ vars can too.

[2015-07-21 09:20] mhidas commented on #38
Fixed via #51

[2015-07-21 09:20] #38 closed, assigned to nobody

[2015-07-22 01:34] fxmzb123 commented on #33
@mhidas fixed and see pull request #52

[2015-07-22 01:39] fxmzb123 commented on #3
Fixed in #30

[2015-07-22 01:39] #3 closed, assigned to nobody

[2015-07-23 00:46] mhidas opened #54 "CF: invalid units for sea_surface_wave_directional_variance_spectral_density"
The new ADCP wave files ([example](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/wave/catalog.html?dataset=IMOS/eMII/checker_test/ANMN/wave/IMOS_ANMN-NRS_WZ_20140601T095900Z_NRSYON_FV01_NRSYON-1406-Workhorse-ADCP-29_END-20141028T025900Z_C-20150722T055015Z.nc)) have this variable:

[code]

The CF checker says:

[code]

The problem is UDUNITS doesn't recognise "deg".
Solutio

[2015-07-23 00:47] mhidas commented on #54
@ggalibert Another one for the Toolbox.

[2015-07-23 01:11] fxmzb123 opened #55 "Merge IMOS-Checker branch and IMOS-File-Name-Checker branch"
two branches need to be merged.

[2015-07-23 01:18] ggalibert commented on #54
Done : https://github.com/aodn/imos-toolbox/commit/15a9dd9c033543fe133e2d1e11cab7a8ce17a12e

[2015-07-23 01:22] fxmzb123 commented on #55
@mhidas please merge the pull request #56

[2015-07-23 02:20] mhidas commented on #20
Fixed via #28

[2015-07-23 02:20] #20 closed, assigned to nobody

[2015-07-23 02:43] #33 closed, assigned to nobody

[2015-07-23 03:49] mhidas commented on #54
Great!

[2015-07-23 03:49] #54 closed, assigned to nobody

[2015-07-23 05:33] mhidas commented on #15
This issue has also been reported against the cf_units package, a wrapper for UDUNITS2, which is what the checker uses to assess the validity of units: https://github.com/SciTools/cf_units/issues/30

[2015-07-23 06:55] mhidas commented on #55
Done

[2015-07-23 06:55] #55 closed, assigned to nobody

[2015-07-23 07:07] mhidas opened #57 "IMOS filename check depends on command line arguments"
Currently the filename checker can only access the name of the netCDF file being checked by reading the command-line arguments directly. This is works ok for now, but may break if the argument handling in the main code changes.

In fact, such changes have been made by IOOS recently (https://github.com/aodn/compliance-checker/commit/3a36b7d08cd78bd9c4cccbaa80045a59a0810e85, https://github.com/aodn/

[2015-07-24 03:40] ggalibert commented on #16
HEIGHT_ABOVE_SENSOR is not considered as a vertical coordinate variable since it doesn't have the attribute "axis" set to Z. NOMINAL_DEPTH already has it.

The problem with ADCP files is that these are datasets with two kinds of feature types. Some variables like PRES or TEMP are timeSeries while others like VCUR are timeSeriesProfile. So far, CF doesn't support such a special case...

[2015-07-24 03:50] ggalibert commented on #14
I have just modified the toolbox so that any dimensionless parameter that still didn't have any units attribute documented now has one set to 1. https://github.com/aodn/imos-toolbox/commit/b2bd606a9cb55cf420fdb0eba6e4427e031777a9

[2015-07-24 06:23] mhidas commented on #14
@ggalibert Thanks. That should fix most of our problems here, at least for Toolbox-produced files. Others will just have to follow suit.

[2015-07-24 06:23] #14 closed, assigned to nobody

[2015-07-24 06:33] mhidas commented on #15
Short-term solution: Create our own fork of [UDUNITS2](https://github.com/Unidata/UDUNITS-2) and add "decibel" and any other units we think should be in there. The modified UDUNITS XML files in [cf-python](https://bitbucket.org/cfpython/cf-python/src/94ffc37103271fdcb2d7f00816777ecba13f488c/cf/etc/udunits/?at=master) are a useful example of how to do this.

[2015-07-24 06:49] mhidas commented on #6
We decided at a meeting today that we would modify the checker so it accepts both the old and new versions of the acknowledgements string (to match as a sub-string of the attribute value, allowing for additional text to be present).

[2015-07-27 08:28] ggalibert commented on #14
@mhidas I have improved this according to your comments on the previous commit. See recent commit : https://github.com/aodn/imos-toolbox/commit/edffc5b4d70c4ea22f33c7ab5a922fa1e91a7dbb

[2015-07-27 23:47] mhidas commented on #14
@ggalibert Thanks, that looks good.

[2015-07-28 00:05] ggalibert commented on #32
We decided at our last meeting on the netcdf checker that the toolbox will include variables with a **cf_role** attribute.

I suggest such variables are named **TIMESERIES**, **PROFILE** and **TRAJECTORY**.

To add to Marty's quote from CF, I would also mention what just follows:

This is relevant for moored ADCP current data which is timeSeriesProfile. They would have a TIMESERIES and a PROFILE v

[2015-07-28 06:13] mhidas commented on #32
@ggalibert On that last point, I don't agree. Even if we had more than one timeSeriesProfile feature in a file, we would only require **one** id variable to distinguish them, not two (and, logically, it would have `cf_role = "timeseriesprofile_id"`, but that is not allowed). I don't think that section in the CF document makes sense.

So for ADCP data, let's just have `TIMESERIES:cf_role = "timeser

[2015-07-29 02:46] mhidas commented on #48
It's ok for the same variable to appear in multiple groups, but in this case it's exactly the same test being applied twice. This redundancy should be removed.

[2015-07-29 04:28] ggalibert commented on #32
Ok, I have made the changes accordingly through the following commits :
https://github.com/aodn/imos-toolbox/commit/19e491d84e8775cd1669aee310b2cb1a08fac0f8
https://github.com/aodn/imos-toolbox/commit/f2b05d70eaba0e0c80d51395c1d0be9a63f92230
https://github.com/aodn/imos-toolbox/commit/741ef2966d49435ba5f5df4393124ad4615dc16b
Files are now successfully passing the CF checker.

[2015-07-29 05:54] ggalibert commented on #15
Ok, just to take some notes for myself :
-UDUNITS2 is installed on 10-nsp via the ubuntu official repos.
-This version of UDUNITS2 doesn't have an up to date database so a copy of the latest UDUNITS2 has been included in the data_services github repo as a hack so that when the netcdf-checker is called from the pipeline, it is set to point to this version of the database.
-We will need to edit this

[2015-07-29 07:49] ggalibert commented on #13
At our last netcdf-checker meeting it has been decided we could re-use the variable attributes **positive** and **reference_datum**.

From CF it looks like although it is not the preferred solution, we may be able to use **positive** for non-vertical coordinates with values other than 'up' or 'down', like 'clockwise' and 'anticlockwise'.

At the moment the IMOS NetCDF Conventions document supports

[2015-07-30 01:35] danfruehauf commented on #15
As discussed yesterday, the tradeoff is between more control vs. more maintenance.

If we instantly fork the repository and maintain it ourselves, we're taking on ourselves the task of maintaining it automatically. We need to think carefully whether we want this responsibility. Once we do it, going back is hard.

Ideally, it'd be good to put pressure on UDUNITS to include those units from CF. Sinc

[2015-07-30 07:10] ggalibert commented on #15
@mhidas let's discuss this on Monday. In the meantime I created a pull request on data-services to add decibel there : https://github.com/aodn/data-services/pull/189 .

[2015-08-03 00:12] mhidas commented on #32
Thanks @ggalibert !

[2015-08-03 00:12] #32 closed, assigned to nobody

[2015-08-06 01:36] mhidas opened #59 "IMOS check for time_coverage_min/max not implemented"
We should be check that these global attributes match the temporal extent of the data!

[2015-08-06 02:24] mhidas commented on #59
Note, this check is implemented in the ACDD suite, but we're not currently planning on running that, so we'll need to do it in the IMOS suite as well.

[2015-08-06 03:07] mhidas opened #60 "IMOS check_geospatial_vertical_min_max checks to wrong attributes"
Looking at the code, the method `check_geospatial_vertical_min_max` seems to apply checks to the attributes `geospatial_lat_min` and `geospatial_lat_max`. Probably a copy-paste that didn't get properly updated.

[2015-08-06 03:19] mhidas opened #61 "IMOS checks on "VERTICAL" variable too specific"
All the checks related to a vertical coordinate variable are currently only applied to a variable actually called `VERTICAL` (if it exists). In all IMOS data, such a variable will actually be called something else (usually `DEPTH` or `HEIGHT`), so none of these checks will be applied.

These checks should instead identify any vertical variable using the following conditions (similar to `is_vertica

[2015-08-06 03:29] mhidas opened #62 "IMOS checks on "LATITUDE", "LONGITUDE" and "TIME" too specific"
Similarly to #61, these checks only look for the variables with names `LATITUDE`, `LONGITUDE` and `TIME`. These are not required to have these specific names (though in most IMOS data they do), and should be identified according to their name or attributes. e.g. `LATITUDE` is any variable that has
- variable name in `_possibley` list (cf/util.py), OR
- standard_name="latitude", OR
- axis="Y", OR
-

[2015-08-06 07:27] mhidas commented on #48
Fixed in #58

[2015-08-06 07:27] #48 closed, assigned to mhidas

[2015-08-11 06:05] ggalibert commented on #18
Please see PR https://github.com/aodn/compliance-checker/pull/64

[2015-08-11 06:49] mhidas commented on #15
For now this is fixed via https://github.com/aodn/data-services/pull/189

[2015-08-11 06:49] #15 closed, assigned to ggalibert

[2015-08-11 07:25] #6 closed, assigned to mhidas

[2015-08-11 07:34] mhidas commented on #18
Fixed via #64

[2015-08-11 07:34] #18 closed, assigned to ggalibert

[2015-08-11 07:53] ggalibert commented on #60
Please see PR https://github.com/aodn/compliance-checker/pull/67

[2015-08-11 08:35] ggalibert commented on #35
1- Yes, this is an IMOS NetCDF Conventions recommendation.
2- CF allows other time_units and reference_time so this IMOS test is more specific and relevant.

@mhidas what do you suggest as equivalent entries?

[2015-08-12 04:15] mhidas commented on #13
@ggalibert I think that would be a reasonable solution, at least until CF respond to the issue. So to summarise, for any variable that is a direction in the horizontal plane, we will have three attributes:

[code]

Regarding your comment about "to" or "from" directions, I think this is only potentially ambiguous for a _process_ like wind or waves, because their directions can reasonably be describ

[2015-08-12 06:12] ggalibert commented on #13
The following commit in the toolbox repo addresses this issue : https://github.com/aodn/imos-toolbox/commit/18e6b98fdb62b14e2a853253ceb8492599a0f26f

[2015-08-12 06:12] #13 closed, assigned to nobody

[2015-08-12 06:24] mhidas commented on #35
@ggalibert I was thinking of allowing variants like this
- "days since 1950-01-01T00:00:00Z"
- "days since 1950-01-01 00:00:00+00:00"
- "d since 1950-01-01 00:00"

Technically these are all the same unit according to UDUNITS (same time unit and reference time, UTC is assumed if timezone not specified). This equivalence check could be done fairly easily using the `cf_units` module, but would also a

[2015-08-12 06:51] ggalibert commented on #35
Made a PR to at least downgrade the priority of check on units attribute content to MEDIUM : https://github.com/aodn/compliance-checker/pull/68

Found the idea of using cf_units module to check for equivalent great though.

[2015-08-12 06:51] mhidas commented on #60
Fixed via #67

[2015-08-12 06:51] #60 closed, assigned to ggalibert

[2015-08-12 06:57] mhidas commented on #61
In addition, the check against the values of the _geospatial_vertical_min/max_ attributes appears to give incorrect results for the "imos_good_data.nc" file used in the unittests. The file has only fill values in the vertical variable, and yet the check returns a pass!

[2015-08-18 04:41] ggalibert commented on #59
I might just copy/paste the ACDD test check_time_extents in https://github.com/ioos/compliance-checker/blob/master/compliance_checker/acdd.py then.

[2015-08-18 05:04] mhidas commented on #59
@ggalibert You could try that, though it might be simpler to make use of Ming's `check_value` function in imos/util.py, which has options `OPERATOR_MIN` and `OPERATOR_MAX`. See how these are used to check geospatial_lat_min/max etc...

You'd just need to convert the time_coverage_min/max strings into numbers comparable to the TIME variable values. This can easily be done using the `date2num` metho

[2015-08-18 05:29] mhidas commented on #35
Ok, with #68 merged, let's consider this fixed for now. If we have too much trouble with files using different time units, we can revisit later.

[2015-08-18 06:37] mhidas opened #70 "IMOS cheks for attributes being numeric fail incorrectly"
E.g. for [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ABOS/Pulse/catalog.html?dataset=eMII/checker_test/ABOS/Pulse/IMOS_ABOS-SOTS_W_20150331T130000Z_Pulse_FV00_Pulse-11-MRU-Surface-wave-height-realtime_END-20150813T230000Z_C-20150814T021828ZZ.nc) we get:

[code]

but this is not true:

[code]

Looks like the code expects the type of these attributes to be `np.numbe

[2015-08-19 02:38] ggalibert commented on #59
@mhidas I've created a PR https://github.com/aodn/compliance-checker/pull/71 to address this.

[2015-08-19 06:34] ggalibert commented on #70
Problem is that type could either be float32 or float64. Will see if I can combine both tests.

[2015-08-19 07:15] mhidas commented on #70
@ggalibert Note that `check_attribute_type` allows `expected_type` to be given as a list.

[2015-08-19 08:24] ggalibert commented on #70
@mhidas I created a PR https://github.com/aodn/compliance-checker/pull/72 to fix this issue.

[2015-08-20 00:55] mhidas commented on #59
Fixed in #71

[2015-08-20 00:55] #59 closed, assigned to ggalibert

[2015-08-20 02:25] mhidas opened #74 "IMOS filename check for start time always fails"
So far every file I've tried the filename checker on includes this result:

[code]

At least in some of these cases this is not true.

[2015-08-20 03:51] mhidas commented on #70
Fixed via #72

[2015-08-20 03:51] #70 closed, assigned to ggalibert

[2015-08-20 05:28] ggalibert commented on #50
An ancillary variable is not necessarily a QC variable. We need to establish a rule that enables us to identify a QC variable. Only then we would be able to check that its name is `<DATA>_quality_control` with `<DATA>` the variable that lists it in its ancillary_variables attribute.

Do you already have an idea on how to identify a QC variable @mhidas ? We could look for variables that include the

[2015-08-20 07:43] mhidas commented on #50
@ggalibert Have a look at https://github.com/mhidas/imos-netcdf-conventions/blob/master/IMOS_netCDF_checker_tests_for_manual_v1.3.xls (which we could move into this repo I guess) for the definition of each check.

I suggest we identify a QC variable as as any variable that
1. has a name that ends in “_quality_control”; **OR**
2. standard_name ends in "status_flag"; **OR**
3. long_name contains "st

[2015-08-25 00:38] mhidas commented on #49
This is actually a bug, i.e. it is not just too verbose, it is also failing incorrectly. I've reported it to IOOS: https://github.com/ioos/compliance-checker/issues/155

[2015-09-11 03:45] lbesnard commented on #35
If someone could give me a face to face update on this matter next week. I'm still really puzzled and I don't get why this test should be in the IMOS checker. IMO this should disappear from the IMOS convention too as it's already well defined in CF, and more restricting than helpful in the IMOS documentation.

The CF gives the freedom to choose any date, as long as a few things are respected. That

[2015-09-16 06:26] mhidas opened #76 "IMOS check_geospatial_x_min_max too precise"
These methods use strict equality to compare the min/max of the data with the global attributes, so we get results like this:

[code]

Need to re-write the comparison to use the `np.isclose` function, which allows a bit of leeway.

[2015-09-22 03:58] bpasquer opened #77 "IMOS quality_control_convention for quality_control_set = 4 not recognized"
File containing the quality_control_set  4 "WOCE quality control procedure (Multidisciplinary Underway Network – CO 2 measurements)" fail to pass the check although the string is written in the exact same manner.
Note that the space in 'CO2' should be removed.

[2015-09-22 04:07] mhidas opened #78 "IMOS incorrect fail when QC variable has not standard_name"
When a data variable and its quality control variable don't have a `standard_name` attribute (e.g. `ABSI1` in [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/timeSeriesProfile/catalog.html?dataset=eMII/checker_test/ANMN/timeSeriesProfile/IMOS_ANMN-NRS_AETVZ_20140919T050000Z_NRSROT-ADCP_FV01_NRSROT-ADCP-1409-Workhorse-ADCP-44_END-20150128T030000Z_C-20150129T090249

[2015-09-22 07:50] mhidas commented on #61
Fixed in #79

[2015-09-23 04:55] #61 closed, assigned to mhidas

[2015-09-24 03:14] mhidas commented on #77
@bpasquer Ok, PR #80 should fix this. To make it easier, it will only check the beginning of the string, up to "WOCE quality control procedure"

[2015-09-24 03:15] bpasquer commented on #77
easy , sounds good to me . Thx @mhidas

[2015-09-24 07:30] #77 closed, assigned to nobody

[2015-10-02 04:28] ggalibert commented on #50
This PR addresses the issue https://github.com/aodn/compliance-checker/pull/81

[2015-10-04 23:42] ggalibert commented on #35
I've had a talk with @lbesnard and considering the scope of this issue I think we agree we can close it. If there is anything we would like to change, then we would first need to update the IMOS convention and create a new issue.

[2015-10-04 23:42] #35 closed, assigned to ggalibert

[2015-10-05 00:44] ggalibert commented on #76
Could you please provide a dataset example?

[2015-10-05 00:50] ggalibert commented on #76
I suggest I modify the `check_value` function in imos/util.py so that it uses `numpy.isclose`.

[2015-10-05 01:07] ggalibert commented on #76
See PR https://github.com/aodn/compliance-checker/pull/82

[2015-10-05 01:30] ggalibert commented on #74
This is because the time format in the global attribute is `2015-10-05T01:10:00Z` while it is `20151005T011000Z` in the file name.

[2015-10-05 01:39] ggalibert commented on #74
See PR https://github.com/aodn/compliance-checker/pull/83

[2015-10-06 01:20] mhidas commented on #76
@ggalibert Looks good. All it needs is a unittest to check for this issue.

[2015-10-06 21:48] ggalibert commented on #76
PR updated.

[2015-10-06 21:50] #74 closed, assigned to ggalibert

[2015-10-08 23:05] lbesnard opened #84 "IMOS - Looking for *_QC files is too broad"
The IMOS checker currently assumes that a QC variable is defined by having these 2 attributes :

[code]

However some FV02 NetCDF files (from BOM ASF) have some FLAG variables in order to define for example, if a data point comes from one instrument or another instrument (front or back of the ship).

As they already contain the 2 attributes flag_values and meanings, the IMOS checker think they are

[2015-10-09 00:11] lbesnard opened #85 "CF - exception error"
file location :
https://www.dropbox.com/s/jkhmsml25gyfalb/IMOS_SOOP-ASF_FMT_20150205T000200Z_ZMFR_FV02.nc.20151009-110354?dl=0

[code]

[2015-10-12 00:29] mhidas commented on #84
@lbesnard could you please post a link to a sample file and/or list the attributes of these FLAG variables. Also add the incorrect fail messages you get from the checker. Thanks.

[2015-10-12 03:57] lbesnard commented on #84
sure, here is the file
https://www.dropbox.com/s/jkhmsml25gyfalb/IMOS_SOOP-ASF_FMT_20150205T000200Z_ZMFR_FV02.nc.20151009-110354?dl=0

[2015-10-13 05:25] mhidas opened #86 "IMOS filename check failing unittest"
test_check_file_name_field4 is failing, probably because it needs to be updated after #83.

[2015-10-13 06:09] mhidas commented on #76
Fixed in #82

[2015-10-13 06:09] #76 closed, assigned to ggalibert

[2015-10-13 06:10] mhidas commented on #50
Fixed in #81

[2015-10-13 06:10] #50 closed, assigned to ggalibert

[2015-10-26 00:36] mhidas commented on #49
This has been fixed in https://github.com/ioos/compliance-checker/issues/155

[2015-10-26 00:36] #49 closed, assigned to nobody

[2015-10-27 04:30] mhidas commented on #85
@lbesnard Thanks for that. These are special cases the checker doesn't currently handle. We'll have to fix that. At the same time they do point to a couple of issues with the file:
- The `coordinates` attribute of a variable should not list that variable itself (e.g. here you have `LATITUDE:coordinates = "TIME LATITUDE LONGITUDE"`). In fact coordinate variables (i.e. lat/lon) and also flag and oth

[2015-10-27 23:42] lbesnard commented on #85
thx for your feebacks, I wont add this coordinate attribute to the following variables then : TIME LATITUDE LONGITUDE *_FLAGS *_QUALITY_CONTROL
I guess I should add DEPTH in this list

Added 0 unknown

[2015-10-28 22:53] bpasquer commented on #84
I have come across the same problem with a SOOP_CO2 parameter  SUBFLAG

SUBFLAG                            :3:     0/ 3 :
        ends_in_quality_control        :3:     0/ 1 : the qc variable 'SUBFLAG'
                                                      does not end in
                                                      '_quality_control'
        quality_control_conventions    :2:     0/ 1 : V

[2015-10-28 23:08] mhidas commented on #85
@lbesnard

Yes, that would work. DEPTH is a bit tricky when it's a measured variable (derived from pressure). Probably easiest not to give it a coordinates attribute, though I think in the end @ggalibert decided to add it back in for the Toolbox-produced files (https://github.com/aodn/compliance-checker/issues/12#issuecomment-117904375 ... obviously in that case you'd have to not include DEPTH its

[2015-11-03 03:52] mhidas commented on #84
@lbesnard @bpasquer Thanks. Looks like we'll have to take this into account when identifying potential QC variables.

@ggalibert Can you have a look at this?

[2015-11-05 07:08] mhidas commented on #85
These exceptions have been fixed on master. Unfortunately there are a some other issues in there that need to be resolved before we can merge that branch back in here.

[2015-11-05 07:15] lbesnard commented on #85
:+1:

[2015-11-09 03:49] ggalibert opened #89 "IMOS check geospatial_vertical_min/max should take into account _FillValue"
[code]

999999.0 is actually the defined _FillValue and so should not be included as the maximum value of DEPTH.

[2015-11-09 04:56] ggalibert opened #90 "IMOS - DEPTH_num_obs is no vertical coordinate"
The following variable DEPTH_num_obs:

[code]

triggers the following error:

[code]

Since we're dealing with a number of observations, as an ancillary variable, there should be an exception for this kind of variable.

Same comment for DEPTH_sd representing standard_error.

[2015-11-09 04:59] ggalibert commented on #90
[code]

CF checker gives:

[code]

[2015-11-09 05:57] bpasquer commented on #90
Have exact same issue with two SOOP-BA variable 'mean_depth' and 'mean_height'.
As far as i can tell by looking at the function that outputs this error in the imos checker we get an idea of what 's going on from the definition of a vertical variable

[code]

Seems like the definition of a vertical coordinate based on the name of the variable needs to be more strict. All vertical variableshould not

[2015-11-09 06:06] mhidas commented on #90
@ggalibert  I guess we can exclude ancillary variables from these checks.

@bpasquer What do those 'mean_depth/mean_height' variables represent? Are they not vertical coordinates? If they are, they do need attributes `standard_name`, `positive` and `reference_datum` to specify what they mean. No?

If not, can you suggest some way to distinguish them from vertical coordinates?

[2015-11-10 01:09] mhidas commented on #89
@ggalibert  Can you please provide a sample file that shows this issue?

I'm a bit puzzled because I thought the NetCDF4 library automatically maps fill values to NaNs...  but maybe not.

[2015-11-10 02:44] ggalibert commented on #89
http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/LCJO/catalog.html?dataset=eMII/checker_test/LCJO/IMOS_SRS-OC-LJCO_KOSTUZ_20140109T052647Z_SRC_FV01_WQM-hourly_C-20151102T043252Z.nc

ncdump shows:

[code]

[2015-11-10 06:30] ggalibert commented on #84
Ok so what I can suggest is to remove the following condition to identify a quality control variable :
-this variable has variable attributes 'flag_value' or 'flag_meaning'.

There's one condition that could be added though, it is the presence of the variable attribute 'quality_control_conventions'.

[2015-11-10 06:40] ggalibert commented on #84
With the suggested changes mentioned above (see PR https://github.com/aodn/compliance-checker/pull/91) on Laurent's file we get:

[code]

And we pass the unit tests.

[2015-11-11 23:42] bpasquer commented on #90
Both variable_mean_height and mean_depth are ancillary variable of "Sv" (volume backscatter).
they're defined as described in this manual:
http://imos.org.au/fileadmin/user_upload/shared/SOOP/plugin-SOOP-BA_NetCDF_manual_v1.1.pdf
therefore this issue can be handled the same way as for guillaume's issue.

[2015-11-12 05:11] ggalibert commented on #89
The NetCDF4 python library does map fill values to NaNs:

[code]

Now careful,  when performing numpy.min/max function, the content of a NetCDF variable must be properly referred to:

[code]

Will make the correction for `check_geospatial_vertical_min_max` but might need to double check any other use of a variable content...

[2015-11-12 06:30] ggalibert commented on #89
Please see PR https://github.com/aodn/compliance-checker/pull/92

[2015-11-16 03:00] ggalibert commented on #78
See PR https://github.com/aodn/compliance-checker/pull/95

[2015-11-16 04:40] mhidas commented on #78
Fixed via #95

[2015-11-16 04:40] #78 closed, assigned to mhidas

[2015-11-16 06:37] mhidas commented on #89
@ggalibert This was an issue with the IMOS checks, wasn't it? (title says CF) If so, it's fixed in #92 and we can close it.

[2015-11-16 06:40] ggalibert commented on #89
Yes, my bad, it is not related to CF but IMOS.

[2015-11-16 06:40] #89 closed, assigned to ggalibert

[2015-11-16 07:20] mhidas commented on #84
@lbesnard @bpasquer I think this was fixed by Guillaume in #91. Can you confirm?

[2015-11-17 02:18] bpasquer commented on #84
@mhidas :+1:

[2015-11-17 02:48] mhidas commented on #84
Great! Seems to work ok on Loz's file linked above too.

[2015-11-17 02:48] #84 closed, assigned to ggalibert

[2015-12-23 00:53] ggalibert commented on #90
A solution would be to look for standard_name modifier and if any then the variable cannot be a vertical coordinate: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#standard-name-modifiers .

[2015-12-23 04:20] ggalibert commented on #90
PR https://github.com/aodn/compliance-checker/pull/97 fixes my problem. @bpasquer could you please check that it fixes yours?

[2015-12-23 05:04] ggalibert opened #98 "BOT_DEPTH is not DEPTH"
On the following [file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/checker_test/ANMN/profile/catalog.html?dataset=eMII/checker_test/ANMN/profile/IMOS_ANMN-SA_BCDEFOSTUZ_20080211T235921Z_SA01_FV01_Profile-SeacatPlus_C-20151027T062119Z.nc) the IMOS check reports:

[code]

While the two first complaints are relevant, the last one is not. BOT_DEPTH has it own standard_name set to `sea_floor_

[2016-01-13 01:51] bpasquer commented on #90
Unfortunately it doesn't do the trick for me @ggalibert . I have put an example file on in my home dir on 10nsp under ComplianceCheckerExampleFile for further testing.

[2016-01-18 23:08] ggalibert commented on #90
I've just tried and it works. Be sure you check out the branch IMOS-Checker-Issue-90.

[2016-01-20 01:06] mhidas commented on #90
Fixed in #97

[2016-01-20 01:06] #90 closed, assigned to nobody

[2016-01-20 05:54] lbesnard opened #99 "dimension monotocity not checked"
Just realised that some of my soop trv files I get from AIMS have a time variable which is not monotonic.
See for example this file:
[IMOS_SOOP-TRV_B_20080930T002727Z_VNCF_FV01_END-20081002T000000Z_C-20160120T154802Z.nc.no.monotonic.zip](https://github.com/aodn/compliance-checker/files/96999/IMOS_SOOP-TRV_B_20080930T002727Z_VNCF_FV01_END-20081002T000000Z_C-20160120T154802Z.nc.no.monotonic.zip)

do

[2016-01-20 23:09] mhidas commented on #99
@lbesnard good spotting. I just had a quick look, and the IMOS checker method `check_coordinate_variables` is supposed to check that the values are monotonic. In fact it's quite a simple bug. Fix coming soon.

[2016-01-20 23:34] lbesnard commented on #99
:+1 thanks @mhidas

[2016-01-21 01:32] #99 closed, assigned to nobody

[2016-01-27 05:05] lbesnard opened #101 "CF : use of 'number_of_observations'"
With variables defined such as :

[code]

The CF conventions allows the use of **number_of_observations** in a standard_name attribute.  ( see http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#standard-name-modifiers) . This is the case with the **CNDC_num_obs** variable. However the CF checker wants to check the units of this variable are the one of the mai

[2016-01-27 23:32] mhidas commented on #101
@lbesnard I think you put the wrong file up as an example. It doesn't have any variables with "number_of_observations" in the standard_name (and it passes the CF checker).

[2016-01-27 23:33] mhidas commented on #101
Also, for bugs in the CF checker, please report straight to IOOS (https://github.com/ioos/compliance-checker)

[2016-01-28 00:17] lbesnard commented on #101
@mhidas my bad, i uploaded the wrong one
[IMOS_SRS-OC-LJCO_KOSTUZ_20140627T034500Z_SRC_FV02_WQM-daily_C-20151216T053354Z.nc.zip](https://github.com/aodn/compliance-checker/files/107587/IMOS_SRS-OC-LJCO_KOSTUZ_20140627T034500Z_SRC_FV02_WQM-daily_C-20151216T053354Z.nc.zip)

[2016-02-18 02:27] lbesnard opened #102 "IMOS: PRES dimension as a Z dimension"
Not having a `DEPTH` dimension, and using a `PRES` one instead triggers a series of issues with the IMOS checker, while the file is CF compliant.

[code]

Example file :
[IMOS_AATAMS-SATTAG_TSP_20130302T012000Z_Q9900562_FV00.nc.zip](https://github.com/aodn/compliance-checker/files/135548/IMOS_AATAMS-SATTAG_TSP_20130302T012000Z_Q9900562_FV00.nc.zip)

[2016-03-15 23:12] ggalibert opened #103 "ACORN SeaSonde hourly products"
The ACORN SeaSonde hourly product is not [CF Chapter 5.2](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#idp5559280) compliant.

Example file [here](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/demos/ACORN/monthly_gridded_1h-avg-current-map_non-QC/TURQ/2012/catalog.html?dataset=IMOS/eMII/demos/ACORN/monthly_gridded_1h-avg-current-map_non-QC/TURQ/2

[2016-03-18 03:17] lbesnard opened #104 "Merge to master"
Who is responsible for merging IOOS commits back to our fork ? I don't think we're really up to data. For example this commit is missing, and needed:
https://github.com/ioos/compliance-checker/commit/8a6a520a2243959637a80e7162112ea674b7eb5a

[2016-03-31 01:36] mhidas commented on #102
According to v1.3 of the IMOS conventions, pressure is supposed to be converted into depth in metres to provide a vertical coordinate, but this is not stated in the new version (1.4). However both versions do say you can't label a pressure as "depth" or "height". Either way this needs some work.

[2016-05-17 02:35] #86 closed, assigned to nobody

[2016-06-03 04:42] ggalibert opened #105 "IMOS - check_dimension"
I am getting this result:

[code]

for this [kind of file](http://thredds.aodn.org.au/thredds/catalog/IMOS/eMII/demos/ACORN/monthly_gridded_1h-avg-current-map_non-QC/TURQ/2012/catalog.html?dataset=IMOS/eMII/demos/ACORN/monthly_gridded_1h-avg-current-map_non-QC/TURQ/2012/IMOS_ACORN_V_20121001T000000Z_TURQ_FV00_monthly-1-hour-avg_END-20121029T180000Z_C-20121030T160000Z.nc.gz) (CODAR ACORN radar):

[

[2016-06-06 04:29] mhidas commented on #105
@ggalibert You're right, in that case it doesn't make sense. This is not actually from the IMOS conventions doc. I thought it was a reasonable check that can later be replaced by more featureType-specific dimension checks. Obviously I hadn't considered all sampling geometries. Probably easiest to just remove this check.

[2016-06-08 06:04] mhidas commented on #85
Just confirmed that the latest checker code correctly identifies the above issues in this file, so we can close this as soon as the new version is deployed.

[code]

[2016-06-08 06:07] mhidas commented on #101
This was reported to IOOS (https://github.com/ioos/compliance-checker/issues/193) and has been fixed.

[2016-06-08 06:07] #101 closed, assigned to nobody

[2016-06-08 06:13] mhidas commented on #104
Once https://github.com/aodn/backlog/issues/351 is done, we'll be deploying the checker from master. Pulling new changes from IOOS will still need to be done manually, but the current blockers to this will be removed.

[2016-06-08 06:35] mhidas commented on #98
[New file](http://thredds.aodn.org.au/thredds/dodsC/IMOS/ANMN/NRS/NRSMAI/Biogeochem_profiles/IMOS_ANMN-NRS_CDEKOSTUZ_20150224T235659Z_NRSMAI_FV01_Profile-SBE-19plus_C-20160530T013313Z.nc.html) showing this issue.

Given that standard_name, I think positive and reference_datum should not be required either.

[2016-06-09 04:56] mhidas commented on #98
@ggalibert We could either
1. Look specifically for a variable `BOT_DEPTH`, exclude it from the above checks but instead check it has `standard_name = "sea_floor_depth_below_sea_surface"`, OR
2. Do the same for any variable with `long_name = "sea_floor_depth_below_sea_surface"`, OR
3. Exempt any variable with `standard_name = "sea_floor_depth_below_sea_surface"` from the above checks.

Thoughts? I

[2016-06-09 05:04] ggalibert commented on #98
I agree. Preferred solution would be 3.

[2016-06-09 05:36] mhidas commented on #105
The above linked file is irrelevent. [Here](http://thredds.aodn.org.au/thredds/catalog/IMOS/ACORN/gridded_1h-avg-current-map_non-QC/TURQ/2016/06/06/catalog.html?dataset=IMOS/ACORN/gridded_1h-avg-current-map_non-QC/TURQ/2016/06/06/IMOS_ACORN_V_20160606T010000Z_TURQ_FV00_1-hour-avg.nc) is one that shows this issue.

[2016-06-09 06:12] mhidas commented on #105
@ggalibert See #106

[2016-06-14 01:11] mhidas commented on #105
Closed via #106

[2016-06-14 01:11] #105 closed, assigned to mhidas

[2016-06-14 04:49] ggalibert opened #107 "Web interface for test of our version of checker"
A bit like this one http://data.ioos.us/compliance/index.html (maybe IOOS would be ok to share the code for this webpage?) but which would reflect our own configuration/version of the checker currently deployed.

[2016-06-14 07:25] mhidas commented on #107
Their web checker code is also open-source: https://github.com/ioos/compliance-checker-web

[2016-06-27 06:49] mhidas commented on #104
The latest code from IOOS is now deployed in prod. Currently we're deploying from the _master_ branch in [our fork](https://github.com/aodn/compliance-checker), so we'll need to manually keep this up to date with IOOS. However, this gives us a chance to catch any changes they might push that break things for us.

[2016-06-27 06:49] #104 closed, assigned to nobody

[2016-06-27 06:57] mhidas commented on #102
@lbesnard Have you made any changes to this kind of file? There may be a few things we can improve in the checker, but I think the file is technically not IMOS-1.3 compliant. We may need to have a chat with @ggalibert and @smancini  to decide what we want to insist on.

[2016-06-27 07:01] lbesnard commented on #102
No I haven't. happy to have a chat

[2016-06-27 07:36] #85 closed, assigned to nobody

[2016-06-27 07:42] mhidas commented on #103
@ggalibert Any progress with this? If this is not close to fixed, could we relocate the issue to data-services?

[2016-06-27 07:49] mhidas commented on #107
I have moved this to the backlog: https://github.com/aodn/backlog/issues/389

[2016-06-27 07:49] #107 closed, assigned to nobody

[2016-06-27 07:52] mhidas commented on #103
Here's the related IOOS checker issue https://github.com/ioos/compliance-checker/issues/195

[2016-06-28 00:47] ggalibert commented on #103
This has been fixed by this commit https://github.com/aodn/data-services/pull/475/commits/cc759d1974b3e91d4579db2abaa7cfd19d1f2fe1 . I still need to re-process our historical collection though.

[2016-06-28 01:38] #103 closed, assigned to nobody

[2016-06-28 05:36] #98 closed, assigned to mhidas

[2016-07-27 00:57] mhidas commented on #16
This has been fixed by IOOS. ADCP files created by the latest Toolbox still have the same dimension order, but they don't fail the `dimension_order` check.

[2016-07-27 00:57] #16 closed, assigned to nobody

[2016-08-03 07:17] mhidas commented on #102
Just a note, the message about `geospatial_vertical_min/max` being numeric type is a separate issue. (The offending file has these attributes as integers, and the checker is currently expecting a float.)

[2016-08-04 01:51] mhidas commented on #102
After further discussions we've decided to leave these checks unchanged in the checker, and instead look into the possibility of adding a DEPTH variable to these files.

[2016-11-08 02:08] bpasquer commented on #36
Sorry to comment on this a year later but,this is the last point need to comment on for the SOOP-SST compliance, and i am wondering what approach is the best to adopt here. Looking at what unidata says about Character string in the classic model  " a character string must be treated as an array of characters, and array access must be used to read and write character strings as variable data in net

[2016-11-08 07:07] mhidas commented on #36
@bpasquer I don't see any contradiction there. That NetCDF document is about _character strings_, which are generally longer than one character.  We're not enforcing anything about character strings.

What we are enforcing is that quality control variables should have the same dimensions as the corresponding data variable. This can and should be the case even if the qc variable is represented by a

[2017-02-08 22:50] mhidas commented on #62
Moved to https://github.com/aodn/data-services/issues/648

[2017-02-08 22:50] #62 closed, assigned to smancini

[2017-02-08 22:55] mhidas commented on #57
Moved to https://github.com/aodn/data-services/issues/649

[2017-02-08 22:55] #57 closed, assigned to smancini

[2017-02-08 23:05] mhidas commented on #36
@lbesnard @bpasquer Can we close this issue? I still believe this is not something we need to change in the checker, but if there are files that still have this problem we need to track this issue elsewhere. We are going to remove issue tracking from this repo.

[2017-02-08 23:12] mhidas commented on #102
@lbesnard What's the status of these files? Is this still an issue or have you found a way around it? If we need to keep tracking this issue, please move it to the content repo. Otherwise please close it. Thanks.

[2017-02-09 03:02] bpasquer commented on #36
yes you can close the issue. I've followed you recommendations and the files pass the checker .

[2017-02-14 00:06] #36 closed, assigned to smancini

[2017-02-14 00:29] mhidas commented on #102
This issue has been moved to https://github.com/aodn/data-services/issues/652

[2017-02-14 00:29] #102 closed, assigned to smancini